#**

    Bruno 15-10-2003

*### This is to avoid spaces in the beginning of the file.
##
    <section id="procedure_${procedure.getNCNamePart()}">
        <title>${lang.procedure} : ${procedure.Name}</title>
        #if (${procedure.Descr} != "")
            <para>${procedure.xmlDescr}</para>
        #end
        <programlisting><![CDATA[${procedure.Code}]]></programlisting>
    </section>
